# flyctl launch added from .gitignore

# Ignore exported CSV files
**\bronze\*.csv
**\csv_exports\*.csv

# Python cache
**\__pycache__
**\*.pyc
**\*.pyo

# Virtual environments
**\venv
**\.env

# Editor junk
**\.vscode
**\.DS_Store
**\Thumbs.db

# flyctl launch added from frontend\.gitignore
# Logs
frontend\**\logs
frontend\**\*.log
frontend\**\npm-debug.log*
frontend\**\yarn-debug.log*
frontend\**\yarn-error.log*
frontend\**\pnpm-debug.log*
frontend\**\lerna-debug.log*

frontend\**\node_modules
frontend\**\dist
frontend\**\dist-ssr
frontend\**\*.local

# Editor directories and files
frontend\**\.vscode\*
!frontend\**\.vscode\extensions.json
frontend\**\.idea
frontend\**\.DS_Store
frontend\**\*.suo
frontend\**\*.ntvs*
frontend\**\*.njsproj
frontend\**\*.sln
frontend\**\*.sw?

# flyctl launch added from venv\.gitignore
# Created by venv; see https://docs.python.org/3/library/venv.html
venv\**\*
fly.toml
