# SQLite DB
housing_tracker.db

# CSV output
bronze/*.csv

# Python stuff
__pycache__/
*.pyc
*.pyo

# Virtual environments
venv/
.env/

# VS Code junk (optional)
.vscode/

# System files
.DS_Store
Thumbs.db
