# Ignore the SQLite database (we're using volume)
housing_tracker.db

# Ignore exported CSV files
bronze/*.csv
csv_exports/*.csv

# Python cache
__pycache__/
*.pyc
*.pyo

# Virtual environments
venv/
.env/

# Editor junk
.vscode/
.DS_Store
Thumbs.db
