@import "tailwindcss";
@keyframes flap {
    0% {
        transform: rotate(0deg) scale(1);
    }

    30% {
        transform: rotate(-10deg) scaleY(1.1);
    }

    60% {
        transform: rotate(10deg) scaleY(0.95);
    }

    100% {
        transform: rotate(0deg) scale(1);
    }
}

.animate-flap {
    animation: flap 0.4s ease;
}

@keyframes spin-once-cw {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes spin-once-ccw {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(-360deg);
    }
}

.spin-once-cw {
    animation: spin-once-cw 0.5s ease-in-out;
}

.spin-once-ccw {
    animation: spin-once-ccw 0.5s ease-in-out;
}

/* Make chart legend clickable */
.chartjs-legend li {
    cursor: pointer;
}